.content-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.img-gallery {
    border-radius: 2rem;
    height: 20rem;
    width: 20rem;
    margin-top: 2.5rem;
    box-shadow: -.5rem .5rem 1rem rgba(0, 0, 0, 0.7);
    transition: transform .5s ease;
}

.img-gallery:hover {
    transform: scale(1.2);
}